img {
position:relative;
float:left;
}
a:link { text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black;  }

body
{
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #D1D1D1 0%, #7A7A7A 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #D1D1D1 0%, #7A7A7A 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #D1D1D1 0%, #7A7A7A 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #D1D1D1), color-stop(1, #7A7A7A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #D1D1D1 0%, #7A7A7A 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #D1D1D1 0%, #7A7A7A 100%);
}

ul.tabs
{
    padding: 6px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:4px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 6px 14px;
    border: 1px solid #B7B7B7;
    color: #000;
    background: #F7F7F7 url(tabbg2.gif) repeat-x 0 0;
    border-radius: 3px 3px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    background:White url(tabbg.gif) repeat-x 0 0;
}
        
ul.tabs li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white url(tabbg.gif) 0 0 repeat-x;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.tabcontent
{
    display: block;
}

div.tabcontents
{
	background-color:white;
    border-top: 1px; padding:1px;
    border-radius: 8px;
}
